[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/uPagge/uBlogger.git
	branch = master
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
	branch = master
[submodule "themes/hugo-tanka"]
	path = themes/hugo-tanka
	url = https://github.com/nanxstats/hugo-tanka.git
